{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Request Form</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Request Form</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="mb-3">
                    {{ form.Name.label_tag }}
                    {{ form.Name }}
                </div>
            </div>
            <div class="row mb-3">
            <div class="col-md-12">
                <div class="mb-3">
                    {{ form.Phone.label_tag }}
                    {{ form.Phone }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="mb-3">
                    {{ form.Email.label_tag }}
                    {{ form.Email }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="mb-3">
                    {{ form.Location.label_tag }}
                    {{ form.Location }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="mb-3">
                    {{ form.Message.label_tag }}
                    {{ form.Message }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit Request</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
